<div class="post_wrap">

  <div class="post">

    <div class="post_title_wrap">
      <h1>{{title}}</h1>
    </div>

    <br>
    <br>

    <div class="post_content">
      {{{content.html}}}
    </div>


  </div>

</div>
